* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 2vmin 5vmin;
    background: #443e3e;
}

#game {
    border: 5px solid black;
}

.control-button {
    cursor: pointer;
    padding: 2vmin;
    border-radius: 5px;
    color: gainsboro;
    background: #0a2549;
}

#controls {
    display: flex;
}

div {
    margin: 0 2vmin;
}

.white {
    color: aliceblue;
}
